<template>
    <app-layout title="Dashboard">

        <div class="container mt-10">
            <div class="card text-center">
               
                <div class="card-body ">
                    <form  enctype="multipart/form-data">
                        <label style="cursor: pointer;" for="file">
                            <img src="/img/icons/upload.png" alt="">
                        </label>

                        <input @change="readFile()" ref="file" id="file" hidden name="file" type="file" class="form-control">
                    </form>
                </div>
                <div class="card-footer">
                    <a @click="UploadFile()" href="#" class="btn btn-primary">Generar</a>
                </div>
            </div>
        </div>

    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },
        data (){
            return {
                file : "",
                readOk : false
            }
        },
        methods: {
            readFile(){
                this.readOk = false;
                this.file =  this.$refs.file.files[0];
                console.log(this.file);
                if(this.file.type != "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Formato de archivo no permitido (solo .xls)',
                    
                    })
                    return false
                }

                this.readOk = true;
            },

            UploadFile(){
               if(this.readOk){
                   
                   let formdata = new FormData();
                   formdata.append("file" , this.file);
                    axios.post(this.route("qrgenerator.upload"),formdata)
                    .then(res=> {

                    })
               }
            }
        }
    })
</script>