<template>
    <app-layout>
        <div class="row text-center">
            <div class="col-md-3  ml-4 text-center" v-for="(item , key) in employees" :key="key">
                <img class="p-2" style="width: auto;" alt="Código QR" :id="item.cedula" :src="'/storage/img/qrcode/' + item.cedula+'.png'">
                <h1>{{item.name}}</h1>
            </div>
        </div>
    </app-layout>

</template>

<script>

 import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
export default ({
    components: {
        AppLayout
    },

    props: {
        employees : Array
    },

    mounted(){
        
    },

    methods: {
       
    }
})
</script>
